*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code, pre {
  font-family: "Roboto Mono", Monaco, courier, monospace;
  background-color: #f8f8f8;
  -webkit-font-smoothing: initial;
}
